@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-size: 0.9rem;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}
