.btn {
    transition: ease-in-out 0.3s;
    text-transform: uppercase;
    /* border: 1px solid #22C55E; */
    padding: 10px;
    position: relative;
    z-index: 1;
  }
  
  .btn:hover {
      color: white;
      cursor: pointer;
      
  }
  
  .btn:before {
      transition: ease-in-out 0.3s;
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      bottom: 0;
      opacity: 0;
      content: "";
      background-color: #22C55E;
      border: none;
      
  }
  
  .btn:hover:before {
      transition: ease-in-out 0.3s;
      left: 0;
      right: 0;
      opacity: 100%;
      z-index: -1;
   
  }

  input:focus{
    outline: none;
}
  